@import '../../App.scss';

.logo {
  @include logo-font;
  color: $header-text-color;
}

nav {
  padding: $default-padding-height $default-padding-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $brown-color;
}
