@import '../../App.scss';

$default-padding: 50px;

.img__container {
  border: 1px solid #dedede;
}

img {
  height: 400px;
  padding: $default-padding;
  cursor: pointer;
  transition: 1s; /* Время эффекта */
}

img:hover {
  transform: scale(1.1); /* Увеличиваем масштаб на 10 процентов */
}

.direct {
  display: flex;
  flex-direction: row;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.information {
  margin: $default-padding * 2;
  padding: $default-padding / 2;
  font-size: 24px;
  background-color: $dark-beige-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-weight: 300;
  color: $burgundy-color;
}
