@import '../../App.scss';

.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
}

.master-title-text__container {
  display: flex;
  flex-direction: row;
}

.master-title__conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.master__container {
  margin: $default-padding-height $default-padding-width;
  padding: $default-padding-height $default-padding-width;
  background-color: $header-text-color;
  border: 1px solid $dark-beige-color;
  border-radius: 8px;
  color: $burgundy-color;

  .title {
    padding: 8px 10px 8px 0;
  }
}

.text-about {
  margin: 8px 0px;
  font-size: 20px;
  font-weight: 500;
}

.title-time{
  font-weight: 600;
}

.duration {
  font-style: italic;
  font-size: 18px;
}

.procedures__container{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .title{
    font-weight: 500;
  }
} 

.procedure-text{
  background: #6372bd;
  color: $header-text-color;
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
}